@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 1000px;
  margin: auto;
}

#help-card {
  margin-top: 10vh;
}

.logo-epw {
  position: absolute;
  width: 100px;
}

#bg-404-error {
  background: radial-gradient(111.58% 167.36% at 51.72% 126.13%, #c338ff 0%, #bc35fb 12%, #a72eef 31%, #8622dd 53%, #5811c3 78%, #2b00a9 100%);
  height: 100vh;
}
#bg-404-error .container-batik {
  width: 100%;
}
#bg-404-error .batik {
  position: absolute;
  width: 100%;
  height: 100%;
}
#bg-404-error .prev-404-construct {
  padding-top: 30vh;
}
#bg-404-error .prev-404-construct .wrapper-image-text {
  display: flex;
  gap: 50px;
}

#bg-404-error {
  color: white;
}

.on-404-text {
  width: 100%;
  padding-top: 5vh;
  font-size: 87px;
  font-weight: bold;
}

.on-404-paraf {
  font-size: 36px;
}

@media (max-width: 1200px) {
  .wrapper-image-text {
    flex-direction: column-reverse;
  }
  .on-404-text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .on-404-paraf {
    font-size: 18px;
    text-align: center;
  }
}
.logo-epw {
  position: absolute;
  width: 100px;
}

.prev-comingsoon-construct {
  padding-top: 30vh;
}

.wrapper-comingsoon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.on-comingsoon-text {
  font-size: 90px;
}

@media screen and (max-width: 1200px) {
  .wrapper-comingsoon-text {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  .on-comingsoon-text {
    font-size: 60px;
  }
  .logo-epw {
    width: 90px;
  }
}
@media screen and (max-width: 576px) {
  .on-comingsoon-text {
    font-size: 40px;
  }
  .logo-epw {
    width: 80px;
  }
}
#bg-epc-registration {
  font-family: "Inter", sans-serif;
  height: 100%;
  padding-bottom: 10rem;
  color: #fff;
}
#bg-epc-registration .container-batik {
  width: 100%;
}
#bg-epc-registration .batik {
  position: absolute;
  background-color: #20207B;
  width: 100%;
  z-index: -2;
  object-fit: cover;
}
#bg-epc-registration .container-form {
  position: relative;
  z-index: 1;
  width: 60%;
}
#bg-epc-registration .container-form .section-form {
  font-weight: bold;
  font-size: 20px;
}
#bg-epc-registration .container-form .bio-header {
  background-color: #000;
  padding: 10px 20px;
  font-weight: 400;
  border-radius: 9px;
}
#bg-epc-registration .container-form .box-pembayaran {
  color: #000;
  background-color: #fff;
  max-height: 100%;
  border-radius: 6px;
  font-weight: 500;
}
#bg-epc-registration .container-form .box-pembayaran .container {
  padding-top: 23px;
  padding-bottom: 23px;
  width: 80%;
}
#bg-epc-registration .container-form .epc-submit-button {
  padding: 5px 100px;
}

@media (max-width: 1178px) {
  .batik {
    display: none;
  }
  #bg-epc-registration {
    background-color: #20207B;
  }
}
.bg-login {
  background-color: #e5e7eb;
  height: 100vh;
}

.login-card {
  margin-top: 25vh;
  padding: 25px 50px;
}

.bg-epc-registered {
  background-color: #212384;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.bg-epc-registered {
  background-color: #212384;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.bg-dashboard {
  background-color: #212384;
  font-family: "Inter", sans-serif;
  height: 100vh;
  z-index: -2;
}

.dashboard-batik {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
}

.injection-login-card {
  margin-top: 12vh;
  padding: 25px 50px;
}

.body-dashboard {
  color: white;
  position: relative;
  z-index: 1;
  height: 500px;
}
.body-dashboard .registration-number {
  text-decoration: none;
  color: #BCBEC0;
  font-size: 20px;
}
.body-dashboard .dashboard-selection {
  margin: auto;
  margin-top: 1rem;
}
.body-dashboard .dashboard-selection .dashboard-option {
  margin: 1rem 0;
}
.body-dashboard .dashboard-selection .selection-option {
  color: #000;
  border-radius: 8px;
  gap: 20px;
  box-shadow: 0px 10px 50px 18px rgba(0, 0, 0, 0.1);
}
.body-dashboard .dashboard-selection .selection-option h3 {
  margin: 0;
  font-weight: bold;
}
.body-dashboard p {
  margin: 0;
}
.body-dashboard .content-disabled {
  cursor: no-drop;
}
.body-dashboard .guidebook {
  background-color: #AEFDE8;
}
.body-dashboard .team-card {
  background-color: #94FEFF;
}
.body-dashboard .kisi-kisi {
  background-color: #FF61A7;
}
.body-dashboard .bank-soal {
  background-color: #D872FF;
}

.epc-card {
  position: absolute;
  z-index: -2;
}

.card-text {
  font-family: "Inter", sans-serif !important;
  color: #fff;
  position: absolute;
  z-index: 1;
  height: 600px;
  width: 1050px;
  border-radius: 31px;
}

.card-header-wrapper {
  padding: 20px 45px;
}

.card-logo-section {
  gap: 24.3px;
  display: flex;
  align-items: center;
}
.card-logo-section p {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.card-team-section {
  margin-left: -77px;
}
.card-team-section h3 {
  margin: 0;
  font-size: 45px;
  font-weight: 600;
}
.card-team-section h4 {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
}

.card-logo-epc {
  display: flex;
  align-items: center;
}

.white-divider {
  background-color: #fff;
  height: 2px;
}

.applicant-logout-button {
  border: none;
}

.submission-header {
  color: white;
}

.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
  background-color: white;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-epw {
  padding: 20px 20px !important;
  font-family: "Inter", sans-serif;
}

.nav-link-epw {
  color: white !important;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link-epw:hover {
  font-weight: 500;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.nav-link-epw:focus {
  color: white;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.navbar-brand:hover {
  color: white;
  font-weight: bold;
}

.navbar-brand:focus {
  color: white;
  font-weight: bold;
}

.navbar-collapse-epw {
  background-color: white;
  color: black;
  width: 100%;
}

.nav-text-black {
  color: #000;
}

#button-modal {
  display: none;
}

.link-modal {
  color: #000;
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 9px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-modal:hover {
  color: #fff;
  background-color: #0d6efd;
  border-radius: 9px;
}

@media screen and (max-width: 991px) {
  #button-modal {
    display: block;
  }
  #button-modal:focus {
    border: none;
  }
}
.footer-epw {
  color: #fff;
  font-family: "Inter", sans-serif;
  width: 60%;
  padding: 40px 30px;
}

.footer-logo-epw img {
  vertical-align: middle;
  width: 210px;
}

.flexbox-footer {
  display: flex;
  gap: 60px;
}

.contact-us-text {
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
  margin: 0;
}

.flexbox-icon {
  display: flex;
  font-size: 25px;
  gap: 30px;
  font-weight: 500;
}

.icon-ig,
.icon-tiktok,
.icon-linkedin {
  font-size: 40px;
  vertical-align: middle;
}

.linkedin-text {
  font-size: 25px;
  font-weight: 500;
}

@media screen and (max-width: 1142px) {
  .flexbox-icon {
    display: flex;
    font-size: 15px;
    gap: 30px;
    font-weight: 500;
  }
  .contact-us-text {
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    margin: 0;
  }
  .linkedin-text {
    font-size: 15px;
    font-weight: 500;
  }
  .icon-ig,
  .icon-tiktok,
  .icon-linkedin {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer-logo-epw {
    display: flex;
    justify-content: center;
  }
  .footer-logo-epw img {
    width: 110px;
  }
  .flexbox-footer {
    display: block;
    gap: 60px;
  }
  .contact-us-text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    margin: 0;
  }
  .flexbox-icon {
    text-align: center;
    display: block;
  }
  .linkedin-text {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
