.logo-epw {
    position: absolute;
    width: 200px;
}
.wrapper-comingsoon-text {
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.on-comingsoon-text {
    font-size: 90px;
}
//responsive breakpoint
@media screen and (max-width: 1200px) {
    .wrapper-comingsoon-text {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 768px) {
    .on-comingsoon-text {
        font-size: 60px;
    }
    .logo-epw {
        width: 100px;
    }
}
@media screen and (max-width: 576px) {
    .on-comingsoon-text {
        font-size: 40px;
    }
    .logo-epw {
        width: 80px;
    }
}
